fastapi
uvicorn[standard] # includes watchgod and python-dotenv
torch
torchvision
torchaudio
numpy
cython

pillow
python-multipart
python-dotenv
requests
openai
bcrypt
jwt
python-jose
jose

psycopg2
passlib